<launch>
  <rosparam>
    servos:
      throttle:
        pin: 0
        center: 320
        direction: 1
        range: 100
      steering:
        pin: 1
        center: 330
        direction: 1
        range: 180
  </rosparam>

  <node pkg="pca9685_board" name="pca9685_board_node" type="pca9685_board" output="screen" />
</launch>